<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>How Breathtaking,<br>Love it!</h2>
      <a href="#contact" class="btn btn-outline btn-xl page-scroll">Follow me!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
