<section id="features" class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="section-heading">
          <h2>I'm making progress!</h2>
            <hr class="small">
            <div class="row">
              <div class = "tagged-images-container-position">
              <% @instagram.each do |instagram| %>
                <div class="col-sm-12 col-md-3">
                  <div class="thumbnail">
                    <%= image_tag(instagram.images.standard_resolution.url, class: "tagged-images") %>
                    <hr>
                    <%= instagram.caption.text %> 
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
