<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Triathlete in training!</h1>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Follow me on Instagram!</a>
          </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <%= image_tag "Instagram_pic_tabby.jpg", class: "img-responsive"  %>
              </div>
              <div class="button">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
